body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: grey;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 1rem;
  text-align: center;
}
main {
  padding: 2rem;
  text-align: center;
}
nav {
  background-color: #faccbb;
  color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.division{
  text-align: center;
  color: ;
  background-color: skyblue;
  padding: 0rem;
}
.division2{
  text-align: left;
}